@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  background: #A5ADC1;
  font-family: 'Lobster Two', cursive;
}
.fancy{
    margin:5% auto;
    padding-top:1%;
    padding-bottom:1%;
    width :60%;
    border-radius: 14px;
   // border: 0.1em solid black;
    background-color:#33AAC0;

}
.mainpage{
    width: 80%;
    background-color:#A5ADC1;
    //height: 450px;
    margin: 7% auto;
    //border: 0.1em solid grey;
    border-radius: 14px;
    font-family: 'Lobster Two', cursive;
}

// label{
// 	padding-left :5px;
// }

.app{
	width : 100%;
	height: 100%;
	position:relative;

}

//back button on collections screen

.collection-back-button{
    position: absolute;
    top: 0px;
    left: 12px;
    border: 0;
    background-color:#A5ADC1 ;
}


//back arrow on add FORM

.add-back-button{
    position: absolute;
    top: 0px;
    left: 12px;
    border: 0;
    background-color:#A5ADC1;
}

.app h3{
	font-size: 2em;
    margin: 25px 27%;
}

h4{
    font-size: 2em;
    margin: 5% 35%;
}
h1{
    margin : 10px 170px;
	width :100%;
}

//home page button area
.button-area{
        width : 80%;
	    margin-top: 35%;
       background: #A5ADC1;
        margin : 80px auto;
        margin-bottom:16px;
}

//HOME PAGE BUTTONS

.add{    
	line-height: 2em;
    border-radius: 5px;
    margin: 20px 40px;
    display: inline-block;
    width :150px;
    background :#33AAC0;
}

.update{
	line-height: 2em;
    border-radius: 5px;
    margin: 0 20px;
    display: inline-block;
    width :150px;
    background :#33AAC0;
}
.view{
	line-height: 2em;
    border-radius: 5px;
    margin: 15px 38px;
    display: inline-block;
    width :150px;
    background :#33AAC0;
}
.delete{
	line-height: 2em;
    border-radius: 5px;
    margin: 16px 26px;
    display: inline-block;
    width :150px;
    background :#33AAC0;
}
//-----------------------------
//ADD FORM LABELS

.field-labels{
    width :260px;
    margin :10px 20px;
}


//ADD FORM INPUTS
#name{   
    //text-align:right;
    width: 70%;
    line-height: 2em;
    margin: 5px 40px;
}

#designation{ 
    width: 70%;
    line-height: 2em;
    margin: 5px;
}
#phone{   
    width: 70%;
    line-height: 2em;
    margin: 5px 39px;
}
#email{   
    width: 70%;
    line-height: 2em;
    margin: 5px 43px;
    //margin-left:10px;
}
#loc{   
     width: 70%;
    line-height: 2em;
    margin: 5px 27px;
}
#st{   
    width: 70%;
    line-height: 2em;
    margin: 5px 46px;
    //margin-left:15px;
}


//ADD FORM BUTTONS
.save{
    width:80px;
	line-height: 2em;
    border-radius: 5px;
    margin: 20px 140px;
}
.cancel{
    width:80px;
	line-height: 2em;
    border-radius: 5px;
    margin: 10px 30px;
}
p{
	margin-left :5%;
}
//----------------------------------
//SINGLE ENTRIES ON THE COLLECTION

//hover on single list item in collection view

p.single-list-item:hover{
    cursor :pointer;
}


//on singles detail screen
.back-button{
    position: absolute;
    top: 0px;
    left: 12px;
    border: 0;
    background-color:#A5ADC1;
}
p.single-list-item {
    display: inline-block;
    width: 38%;
}
p.desig {
    display: inline-block;
}

img#photo {
    width: 205px;
    border : 2px solid #33AAC0;
    border-radius :15px;
    margin: 26px 200px;
}